<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>smil's site</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Notable&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <a id="___DO_NOT_CLICK___YOU_WILL_BE_BANNED" href="/_admin/env/index.html" rel="nofollow" style="display: none;">super duper secret admin panel :3</a>

    <% if (dev) { %>
        <div class="dev-mode-class-thing-so-it-doesnt-overlap-anything warning-tape">
            <p>WEBSITE UNDER DEV MODE! PLEASE PROCEED WITH CAUTION! (theres no caution lol)</p>
        </div>
    <% } %>

    <div class="eighty8x31s-wrap">
        <div class="eighty8x31s">
            <a href="#clicked">
                <img src="/public/88x31/s/smilt.dev.png" width="88" height="31">
            </a>
            <a href="https://sad.ovh">
                <img src="/public/88x31/s/sad.ovh.png" width="88" height="31">
            </a>
            <a href="https://noob-dev.fyi">
                <img src="/public/88x31/s/noob-dev.fyi.gif" width="88" height="31">
            </a>
            <img src="/public/88x31/j/tom.png" width="88" height="31">
            <img src="/public/88x31/j/empty.png" width="88" height="31">
            <img src="/public/88x31/j/empty.png" width="88" height="31">
            <img src="/public/88x31/j/empty.png" width="88" height="31">
            <img src="/public/88x31/j/empty.png" width="88" height="31">
            <img src="/public/88x31/j/empty.png" width="88" height="31">
            <img src="/public/88x31/j/empty.png" width="88" height="31">
            <img src="/public/88x31/j/empty.png" width="88" height="31">
        </div>
    </div>

    <div class="header">
        <div class="box h-main gray-bg">
            <p id="h-deco-a"><span id="h-deco-single">✦</span> · <span id="h-deco-single">✧</span> · <span id="h-deco-single">✦</span> · <span id="h-deco-single">✧</span> · <span id="h-deco-single">✦</span></p>
            <h1>smil's website</h1>
            <p id="h-deco-b"><span id="h-deco-single">✦</span> · <span id="h-deco-single">✧</span> · <span id="h-deco-single">✦</span> · <span id="h-deco-single">✧</span> · <span id="h-deco-single">✦</span></p>
        </div>
    </div>

    <div class="main">
        <div class="m-left">
            <div class="box m-l-stats gray-bg">
                <div class="box-header">
                    <h1><i class="fa-solid fa-chart-line fa-sm"></i> stats</h1>
                </div>
                <div class="m-l-stats-container">
                    <p><b>ips banned:</b> <%= counts.bots %> (<a href="">?</a>)</p>
                    <p><b>posts:</b> <%= counts.posts %></p>
                </div>
            </div>

            <div class="box m-l-discord gray-bg">
                <div class="box-header">
                    <h1><i class="fa-brands fa-discord fa-sm"></i> discord</h1>
                </div>
                <div class="m-l-discord-container">
                    <div class="m-l-d-avatar">
                        <img class="m-l-d-img" src="/public/img/pfp.png" alt="Discord Profile Picture">
                        <span class="m-l-d-status" id="discordStatusDot" data-status="<%= state?.discord?.status ?? "offline" %>"></span>
                    </div>
                    <p class="m-l-d-desc"><span id="discordUsername">smiltene</span><span id="discordStatus"><%= state?.discord?.custom ?? "..." %></span></p>
                </div>
            </div>

            <div class="box m-l-spotify gray-bg">
                <div class="box-header">
                    <h1><i class="fa-brands fa-spotify fa-sm"></i> spotify</h1>
                </div>
                <div class="m-l-spotify-container" data-hasurl="0">
                    <img class="m-l-s-img" id="spotifyImg" src="<%= state?.spotify?.art ?? "/public/img/disc.png" %>" alt="Spotify Image Picture">
                    <p class="m-l-s-desc"><span id="spotifySong"><%= state?.spotify?.song ?? "Listening to" %></span><span id="spotifyArtist"><%= state?.spotify?.artist ?? "nothing" %></span></p>
                </div>
            </div>

            <div class="box m-l-coding gray-bg">
                <div class="box-header">
                    <h1><i class="fa-solid fa-code-branch fa-sm"></i> time spent coding</h1>
                </div>
                <div class="m-l-coding-container">
                    <p><b>all time:</b> <span id="codingAllTime"><%= state?.coding?.allTime ?? "0 hrs" %></span></p>
                    <p><b>today:</b> <span id="codingToday"><%= state?.coding?.today ?? "0m / 0m goal" %></span></p>
                </div>
            </div>

            <!-- <div class="box m-l-status gray-bg">
                <div class="box-header">
                    <h1><i class="fa-solid fa-bars-progress fa-sm"></i></i> status</h1>
                </div>
                <div class="m-l-status-container">
                    <p><span id="" style="color: var(--dgreen)">⬤</span> peanut</p>
                    <p><span id="" style="color: var(--dred)">⬤</span> jelly</p>
                    <p><span id="">⬤</span> jam</p>
                    <p><span id="">⬤</span> forge</p>
                </div>
            </div> -->
        </div>
        
        <div class="m-right">
            <%- body %>
        </div>
    </div>

    <div class="footer">
        <p>smil copyright 2026   <a href="<%= gitUrl %>">sitev2@<%= gitHash %></a></p>
    </div>

    <script type="module" src="/public/js/ws.js"></script>
    <script type="module" src="/public/js/sparkle.js"></script>
    <script type="module" src="/public/js/scrolling88x31.js"></script>
    <script id="___DO_NOT_CLICK___YOU_WILL_BE_BANNED" src="/public/js/rmBanData.js"></script>
</body>
</html>