
<div class="blog-list">
    <h1>blog listing</h1>
    
    <% for (const p of posts) { %>
        <a class="blog-box" href="/blog/<%= p.slug %>">
            <h1><%= p.title %> </h1>
            <p id="desc"><%= p.description %></p>
            <p id="date"><%= p.date %> - <%= p.time %></p>
        </a>
    <% } %>
</div>